body{
    background-image: url(wall.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;
}
.intro1{
   color: black;
   text-decoration: double underline;
   text-shadow: 6px 6px 30px rgb(49, 49, 58);

}
.intro2{
     color: rgb(245, 111, 9);
   text-decoration: double underline;
   text-shadow: 6px 6px 30px rgb(255, 98, 0);
}
.img{ 
     border :2x solid black;
     display: inline-flex;
     justify-content: right;
     align-content: center;
     width: 200px;
     height: 200px;
     border-radius: 1000px;
     box-shadow: 6px 6px 30px rgb(49, 49, 58);


}
.about{
    color:darkblues;
    text-shadow: 6px 6px 30px rgb(49, 49, 58);
}
p{
    text-shadow: 10px 5px 30px rgb(83, 0, 217);
}
.form{
    box-shadow: 0px 0px 20px purple;
    border: 1px solid black;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    /* display: flex; */
    width: 450px;
     height: 200px; 
     padding: 30px; 
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
button{
    border: 1px solid rgb(0, 0, 0);
     border-radius: 20px;
     cursor: pointer;
     color: cornflowerblue;
     background-color: black;
    
}